body{

background-color: rgb(148, 91, 26);
text-emphasis: center
};
p{color: rgb(12, 94, 67)}
h3
{
    color: rgb(94, 9, 9);
    background-color: black ;}

    #html {color: rgb(141, 23, 23);}

    







    

