h3{
    background-color: orangered;
    text-align: center;
 
}
p{
    color: maroon;
font-family: 'Times New Roman', Times, serif;
}
h3{
    color: chocolate;
}
  
#wafa{
    color: red; 
}
p{
    margin: 2%; 
}

th{
text-align: center;
color: red;

}
td{
    color: purple;
}